<template>
  <div class="content">
      <h2>Step 1</h2>
      <h3>Number of Attributes</h3>
      <form action="">
        <label repeat.for="num of numAttr">
            <input model.bind="num" checked.bind="$parent.selectedAttr" type="radio" name="numAttr">
            <span>${num.label}</span>
        </label>
      </form>
      <h3>Number of Dependencies</h3>
      <form action="">
        <label repeat.for="dep of numDep">
              <input  model.bind="dep" checked.bind="$parent.selectedDep" type="radio" name="numDep">
              <span>${dep.label}</span>
          </label>
      </form>
      <form>
          <button type="Submit" click.delegate="rotate()">Next <i class="fa fa-chevron-right" aria-hidden="true"></i> </button>
      </form>
      <span class="errormsg FC" style="display:none">Select a number of Attributes and a number of Dependencies to continue </span>
    </div>
</template>

