.algorithm {

    @media screen and (max-width: $break-small) {
      -webkit-flex-direction: column;
      flex-direction: column;
      section {
        min-height: 0;
      }
    }

  .dependencies {
    .deleted,
    .deleted>div>span {
      color: $grey !important;
    }
    span.current-attribute {
      color: $orange !important;
    }
    .current-attribute>div.middle,
    .current-attribute>div>span:not(.deleted) {
      color: $orange !important;
    }
    form {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: $tiny;
      &.hidden {
        display: none;
      }
      span {
        color: $black;
        font-size: 25px;
        padding: 0 1px;
        font-weight: bold;
        font-size: 20px;
        padding: 0 2px;
      }
      .middle {
        font-weight: bold;
        padding: 0 .8rem 0 0.4rem;
      }
    }
    nav.buttons {
      margin-top: $medium;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: center;
      justify-content: center;
      height: 75px;
      button {
        margin: 1rem .25rem
      }
    }
  }
  .status {
    color: $black;
    h3 {
      margin: $tiny 0;
      padding: 0 $tiny;
    }
    p {
      height: 40px;
      display: table-cell;
      vertical-align: middle;
      padding: .5rem;
    }
    .answer {
      display: block;
      padding-top: $tiny;
      font-weight: 700;
    }
    .progress-outer {
      height: 12px;
      background-color: $lightgrey;
      border-radius: 5px;

      @media screen and (max-width: $break-small) {
        background-color: white;
      }

      .progress-inner {
        width: 0%;
        height: inherit;
        border-radius: inherit;
        background-color: $red;
        transition: width .06s ease-in;
      }
    }
  }
  .description {
    margin-top: $small;
    .description-list {
      display: flex;
      flex-direction: column-reverse;
      .message .message-head {
        cursor: pointer;
        padding: $tiny;
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
      }
      & .message:not(.details) {
        &:not(:last-child) .message-head {
          color: $grey;
        }
        p>i {
          transform: rotate(0);
        }
        .message-body {
          display: none;
        }
      }
    }
    .message {
      list-style: none;
      flex: 0 0 auto;
      p>i {
        transform: rotate(90deg);
        transition: transform ease-in-out .2s;
        padding: 10px;
      }
      .message-body {
        list-style-type: none;
        padding: 10px;
        box-shadow: inset 0px 2px 8px 0px $grey;
        background-color: $lightgrey;
        border-radius: 5px;
        i {
          padding: 5px 10px 5px 20px;
        }
      }
    }
  }
}
