.algorithm {

  .dependencies {
    .deleted,
    .deleted > div > span {
      color : $grey !important;
    }
    .current-attribute,
    .current-attribute > div > span {
      color : $orange !important;
    }


    form {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: $tiny;

      
      span {
        color: $black;
        font-size: 25px;
        padding: 0 1px;
        font-weight: bold;
        font-size: 20px;
        padding: 0 2px;
      }
      
      .middle {
        padding: 0 $tiny;
        font-weight: bold;
      }
    }

    nav.buttons {
      margin-top: $medium;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row; 
      flex-direction: row;
      -webkit-justify-content: center;
      justify-content: center;
      height: 75px;
      button {
        margin: 1rem .25rem
      }
    }
  }

  .status {
    border-radius: 5px;
    border: 3px solid $grey;
    color: $black;
    padding: $small;

    h3 {
      margin: $tiny 0;
      padding: 0 $tiny;
    }

    p {
      height: 40px;
      display: table-cell;
      vertical-align: middle;
    }

    .answer {
      display: block;
      padding-top: $tiny;
      font-weight: 700;
    }

   .progress-outer {
     height: 15px;
     background-color: $lightgrey;
     border-radius: 5px;

     .progress-inner {
       width: 0%;
       height: inherit;
       border-radius: inherit;
       background-color: $red;
       transition: width .06s ease-in;
     }
   }

  }

  .description {
    height: 400px;
    overflow-y: auto;
    margin-top: $small;

    ul {
      display: flex;
      flex-direction: column-reverse;

      li {
        list-style: none;
        margin-bottom: $tiny;
        height: auto;
        padding: $small;
        border-radius: 5px;
        background-color: $lightgrey;
        flex: 0 0 auto;
        transition: all 0.4s ease-out;
        opacity: 1;
        font-size: 14px;

        &::first-child {
          background-color: green;
        }
      }
    }
  }
}