<template>
  <require from="./algorithm/algorithm"></require>
  <main class="algorithm">
    <algorithm></algorithm>
    <section class="dependencies">
      <h2>Dependencies</h2>
      <form repeat.for="dependency of json.dependencies" class="dependency">
          <div class="left">
            <span repeat.for="char of dependency[0]">${char}</span>
          </div>
          <div class="middle">-></div>
          <div class="right">
            <span repeat.for="char of dependency[1]">${char}</span>
          </div>
      </form>
      <nav class="buttons">
        <button class="back">reset</button>
        <button click.delegate="backPressed()"><i class="fa fa-chevron-left" aria-hidden="true"></i>previous</button>
        <button click.delegate="nextPressed()">next<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        <button class="back">end</button>
      </nav>
    </section>
    <section class="status">
      <h2>Status & Explanation</h2>
      <div class="status">
        <h3>${stepHeadline}</h3>
        <div class="progress-outer" id="progress-outer">
          <div class="progress-inner" id="progress-inner"></div>
        </div> 
      </div>
      <div class="description">
        <ul>

        </ul>
      </div>
    </section>
  </main>
</template>