.algorithm {

  .dependencies {
    .deleted,
    .deleted > div > span {
      color : $grey !important;
    }
    .current-attribute,
    .current-attribute > div > span {
      color : $orange !important;
    }


    form {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: $tiny;

      
      span {
        color: $black;
        font-size: 25px;
        padding: 0 1px;
        font-weight: bold;
        font-size: 20px;
        padding: 0 2px;
      }
      
      .middle {
        padding: 0 $tiny;
        font-weight: bold;
      }
    }

    nav.buttons {
      margin-top: $medium;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row; 
      flex-direction: row;
      -webkit-justify-content: center;
      justify-content: center;
      height: 40px;
      button {
        font-size: 11px;
        padding: .5rem;
        margin: 0 .2rem;
        .fa {
          font-size: 11px;
        }
      }
    }
  }
}