
$font-headline: 'Wombi', sans-serif;
$font-text: 'Inter UI';

$red: #f06543;
$lightgrey: #e8e9eb;
$grey: #c1c0b8;
$orange: #f09d51;
$black: #313638;
$green: #43F0B6;


$tiny: 0.5rem;
$small: 1rem;
$medium: 2rem;
$big: 4rem;

$break-medium: 1125px;
$break-small: 875px;
$break-tiny: 418px;