.about img {
  float: left; }
.about ul {
  margin: 0 10rem; }
  .about ul li {
    margin-left: .5rem; }

form-container .content > form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center; }
form-container label {
  color: #c1c0b8;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-top: 0.5rem; }
  form-container label span {
    font-size: 47px;
    padding: 0 10px;
    font-weight: bold; }
  form-container label input {
    display: none; }
    form-container label input:checked + span {
      color: #313638; }
    form-container label input:not(:checked):hover + span {
      color: #e8e9eb; }

aside-info {
  font-size: 15px; }
  aside-info h3 {
    color: #f06543;
    margin-left: 0.5rem;
    margin-top: 2rem;
    text-transform: uppercase; }
  aside-info ol {
    list-style-type: none;
    color: #e8e9eb;
    background-color: #313638;
    padding: 2rem 1rem;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700; }
    aside-info ol li {
      padding: 2px 0; }
    aside-info ol ul {
      font-weight: 500;
      border-radius: 2px;
      list-style-type: none;
      padding-left: 1rem;
      padding: .5rem; }
      aside-info ol ul span {
        color: #f09d51; }
      aside-info ol ul strong {
        font-weight: 700; }
      aside-info ol ul i {
        float: none;
        padding-right: 2px; }

dependencies-container form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem; }
  dependencies-container form.hidden {
    display: none; }
dependencies-container .middle {
  padding: 0 0.5rem;
  margin-top: .45rem;
  font-weight: bold; }
dependencies-container .answer {
  color: #f09d51; }
dependencies-container label {
  color: #c1c0b8;
  cursor: pointer;
  font-size: 25px;
  padding: 0 1px;
  font-weight: bold; }
  dependencies-container label span {
    font-size: 20px;
    padding: 0 2px; }
  dependencies-container label.hidden {
    display: none; }
  dependencies-container label input {
    display: none; }
    dependencies-container label input:checked + span {
      color: #313638; }
    dependencies-container label input:not(:checked):hover + span {
      color: #e8e9eb; }
dependencies-container nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  height: 75px; }

.algorithm .dependencies .deleted,
.algorithm .dependencies .deleted > div > span {
  color: #c1c0b8 !important; }
.algorithm .dependencies .current-attribute,
.algorithm .dependencies .current-attribute > div > span {
  color: #f09d51 !important; }
.algorithm .dependencies form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem; }
  .algorithm .dependencies form span {
    color: #313638;
    font-size: 25px;
    padding: 0 1px;
    font-weight: bold;
    font-size: 20px;
    padding: 0 2px; }
  .algorithm .dependencies form .middle {
    padding: 0 0.5rem;
    font-weight: bold; }
.algorithm .dependencies nav.buttons {
  margin-top: 2rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  height: 75px; }
  .algorithm .dependencies nav.buttons button {
    margin: 1rem 0.25rem; }
.algorithm .status {
  border-radius: 5px;
  border: 3px solid #c1c0b8;
  color: #313638;
  padding: 1rem; }
  .algorithm .status h3 {
    margin: 0.5rem 0;
    padding: 0 0.5rem; }
  .algorithm .status .answer {
    padding-top: 0.5rem;
    font-weight: 700; }
  .algorithm .status .progress-outer {
    height: 15px;
    background-color: #e8e9eb;
    border-radius: 5px; }
    .algorithm .status .progress-outer .progress-inner {
      width: 0%;
      height: inherit;
      border-radius: inherit;
      background-color: #f06543;
      transition: width .06s ease-in; }
.algorithm .description {
  height: 400px;
  overflow-y: auto;
  margin-top: 1rem; }
  .algorithm .description ul {
    display: flex;
    flex-direction: column-reverse; }
    .algorithm .description ul li {
      list-style: none;
      margin-bottom: 0.5rem;
      height: auto;
      padding: 1rem;
      border-radius: 5px;
      background-color: #e8e9eb;
      flex: 0 0 auto;
      transition: all 0.4s ease-out;
      opacity: 1;
      font-size: 14px; }
      .algorithm .description ul li::first-child {
        background-color: green; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background: #e8e9eb;
  font-family: "Inter UI";
  font-size: 16px;
  color: #313638; }
  body:after {
    content: "";
    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    z-index: -1; }

nav.nav {
  font-family: "Wombi", sans-serif;
  margin: 0.5rem 2rem; }
  nav.nav a {
    margin-bottom: 0.5rem;
    color: white;
    font-weight: 700;
    text-decoration: none; }

footer img {
  position: absolute;
  bottom: -60px;
  right: 5%;
  height: 50%; }

h2 {
  font-family: "Wombi", sans-serif;
  font-size: 22px;
  padding-left: 0.5rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f06543; }

h3 {
  margin: 0.5rem 0;
  margin-left: 2rem;
  font-size: 14px; }

main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center; }
  @media screen and (max-width: 875px) {
    main {
      flex-direction: column-reverse;
      -webkit-align-items: center;
      align-items: center; } }
  main .form {
    transform-style: preserve-3d;
    perspective: 1000px; }
    main .form dependencies-container {
      transform: rotateY(180deg);
      transform-style: preserve-3d; }
    main .form form-container {
      transform: rotateY(0deg);
      transform-style: preserve-3d; }

section {
  margin: 2rem;
  margin-top: 0;
  padding: 2rem;
  width: 45%;
  max-width: 560px;
  min-height: 500px; }
  @media screen and (max-width: 875px) {
    section {
      margin: 0.5rem; } }
  @media screen and (max-width: 875px) {
    section {
      width: 70%; } }

form-container,
dependencies-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  background-color: white;
  border-radius: 5px; }
  form-container div.content,
  dependencies-container div.content {
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2; }

form-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  backface-visibility: hidden; }

dependencies-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.form.rotate dependencies-container,
.form.rotate form-container {
  transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1); }
.form.rotate form-container {
  transform: rotateY(-180deg);
  transform-style: preserve-3d; }
.form.rotate dependencies-container {
  transform: rotateY(0deg);
  transform-style: preserve-3d; }

button {
  background: #f09d51;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  display: inline-block;
  margin: 1rem 0.5rem;
  border-radius: 6px;
  border: solid #313638;
  border-width: 1px 1px 3px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1), inset 0 0 3px rgba(255, 255, 255, 0.3);
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease; }
  button.back {
    background: #c1c0b8; }
  button:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.4);
    border-bottom-width: 4px; }
  button:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 5px rgba(255, 255, 255, 0.4);
    border-bottom-width: 1px;
    transition: 0.1s ease; }
  button .fa {
    font-size: 14px; }
  button .fa-chevron-left {
    padding-right: 5px; }
  button .fa-chevron-right {
    padding-left: 5px; }

.errormsg {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  color: #f06543; }

/*# sourceMappingURL=main.css.map */
