<template>
  <section class="about">
    <div>
      <a href="https://github.com/bruhnth17"><i class="fa fa-github" aria-hidden="true"></i></a>
      <p>
        Hello there, my name is Thomas and I study media informatics at the TU Dresden. This site was made with <a href="http://aurelia.io/">aurelia</a>.
        The algorithm was part of our databasecourse in Uni.
      </p>
      <a href="mailto:tom-95@hotmail.de"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a href="https://t.me/Thmsbrhn"><i class="fa fa-telegram" aria-hidden="true"></i></a>
    </div>
    <div class="img-container">
      <img src="/src/resources/img/i.png">
    </div>
  </section>
</template>