<template>
  <h2>Einleitung</h2>
  <article> 
    <p>
        Dieser Algorithmus findet zu einer gegebenen Menge von funktionalen
        Abhängigkeiten (engl. functional dependencies)
        eine kanonische Überdeckung.
    </p>
    <ul>
      <li>Eine kanonische Überdeckung ist eine kleinst- mögliche äquivalente Menge zu einer Menge von FDs</li>
      <li>Dies geschieht mit Hilfe dieses Algorithmus, der aus 4 Schritten besteht. Diese Schritte werden später näher erläutert</li>
      <li>Zuerst muss nun aber eine Menge von FDs er- stellt werden, zu der eine kanonische Überdek- kung gefunden werden soll.</li>
      <li>Legen Sie dazu im Fenster rechts fest, wieviele Attribute Ihre Relation enthält, und aus wievie- len FDs Ihre Menge bestehen soll. </li>
    </ul>
  </article>
</template>