dependencies-container {
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: $tiny;
    &.hidden {
      display: none;
    }

    div{
      display: flex;
      align-content: center;
    }
  }
  .middle {
    padding: 0 $small;
    margin-top: 2px;
    font-weight: bold;
    text-align: center;


    @media screen and (max-width: $break-tiny){
      width: 23px;
      font-size: 12px;
      padding: 0;
      margin: 0;
    }
    @media screen and (max-width: $break-small) and (min-width: $break-tiny) {
      width: auto;
      font-size: 12px;
      margin-top: 5px;
    }
    @media screen and (max-width: $break-medium) and (min-width: $break-small) {
      width: 47px;
      font-size: 14px;
      margin-top: 2px;
    }
  }
  .answer {
    color: $orange;
  }
  label {
    color: $grey;
    cursor: pointer;
    padding: 0 1px;
    font-weight: bold;
    @media screen and (max-width: $break-tiny) {
      padding: 0;
    }
    @media screen and (max-width: $break-small) and (min-width: $break-tiny) {
      padding: 0 1px;
    }

    span {
      font-size: 20px;
      padding: 0 2px;
      @media screen and (max-width: $break-tiny) {
        font-size: 16px;
      }
      @media screen and (max-width: $break-small) and (min-width: $break-tiny) {
        font-size: 20px;
      }
      @media screen and (max-width: $break-medium) and (min-width: $break-small) {
        font-size: 18px;
      }
    }
    

    &.hidden {
      display: none;
    }
    input {
      display: none;
      &:checked+span {
        color: $black;
      }
      &:not(:checked):hover+span {
        color: $lightgrey;
      }
    }
  }
  nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    height: 75px;
  }
}

