<template>
  <div class="content">
      <h2>Schritt 2: Abhängigkeiten definieren</h2>
      <form action="">
        <div class="left">
          <label id="1">
            <input type="checkbox" name="" id="">
            <span>A</span>
          </label>
          <label id="2">
            <input type="checkbox" name="" id="">
            <span>B</span>
          </label>
          <label id="3">
            <input type="checkbox" name="" id="">
            <span>C</span>
          </label>
          <label id="4">
            <input type="checkbox" name="" id="">
            <span>D</span>
          </label>
          <label id="5">
            <input type="checkbox" name="" id="">
            <span>E</span>
          </label>
          <label id="6">
            <input type="checkbox" name="" id="">
            <span>F</span>
          </label>
          <label id="7">
            <input type="checkbox" name="" id="">
            <span>G</span>
          </label>
          <label id="8">
            <input type="checkbox" name="" id="">
            <span>H</span>
          </label>
        </div>
        <div class="middle"> -> </div>
        <div class="right">
          <label id="1">
            <input type="checkbox" name="" id="">
            <span>A</span>
          </label>
          <label id="2">
            <input type="checkbox" name="" id="">
            <span>B</span>
          </label>
          <label id="3">
            <input type="checkbox" name="" id="">
            <span>C</span>
          </label>
          <label id="4">
            <input type="checkbox" name="" id="">
            <span>D</span>
          </label>
          <label id="5">
            <input type="checkbox" name="" id="">
            <span>E</span>
          </label>
          <label id="6">
            <input type="checkbox" name="" id="">
            <span>F</span>
          </label>
          <label id="7">
            <input type="checkbox" name="" id="">
            <span>G</span>
          </label>
          <label id="8">
            <input type="checkbox" name="" id="">
            <span>H</span>
          </label>
        </div>
      </form>
      <nav>
        <button click.delegate="removeRotate()">Zurück</button>
        <button disabled="disabled">Weiter</button>
      </nav>
  </div>
</template>