dependencies-container {
  
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: $tiny;
    &.hidden {
      display: none;
    }
  }

  .middle {
    padding: 0 $tiny;
    margin-top: .45rem;
    font-weight: bold;
  }

  label {

    color: $grey;
    cursor: pointer;
    font-size: 25px;
    padding: 0 1px;
    font-weight: bold;

    span {
      font-size: 20px;
      padding: 0 2px;
    }

    &.hidden {
      display: none;
    }

    input {
      display: none;

      &:checked+span {
        color: $black;
      }

      &:not(:checked):hover + span {
        color: $lightgrey;
      }
    }
  }

  nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;

    button {
      margin-top: $medium;
    }
  }
}

