<template>
  <div class="content">
    <h2>Step 2</h2>
    <h3>Define Dependencies</h3>
    <form class="dependency" id="1">
      <div class="left">
        <label id="1">
            <input type="checkbox" class="attribute A">
            <span>A</span>
          </label>
        <label id="2">
            <input type="checkbox" class="attribute B">
            <span>B</span>
          </label>
        <label id="3">
            <input type="checkbox" class="attribute C">
            <span>C</span>
          </label>
        <label id="4">
            <input type="checkbox" class="attribute D">
            <span>D</span>
          </label>
        <label id="5">
            <input type="checkbox" class="attribute E">
            <span>E</span>
          </label>
        <label id="6">
            <input type="checkbox" class="attribute F">
            <span>F</span>
          </label>
        <label id="7">
            <input type="checkbox" class="attribute G">
            <span>G</span>
          </label>
        <label id="8">
            <input type="checkbox" class="attribute H">
            <span>H</span>
          </label>
      </div>
      <div class="middle"> -> </div>
      <div class="right">
        <label id="1">
            <input type="checkbox" class="attribute A">
            <span>A</span>
          </label>
        <label id="2">
            <input type="checkbox" class="attribute B">
            <span>B</span>
          </label>
        <label id="3">
            <input type="checkbox" class="attribute C">
            <span>C</span>
          </label>
        <label id="4">
            <input type="checkbox" class="attribute D">
            <span>D</span>
          </label>
        <label id="5">
            <input type="checkbox" class="attribute E">
            <span>E</span>
          </label>
        <label id="6">
            <input type="checkbox" class="attribute F">
            <span>F</span>
          </label>
        <label id="7">
            <input type="checkbox" class="attribute G">
            <span>G</span>
          </label>
        <label id="8">
            <input type="checkbox" class="attribute H">
            <span>H</span>
          </label>
    </form>
    <form class="dependency" id="2">
      <div class="left">
        <label id="1">
              <input type="checkbox" class="attribute A">
              <span>A</span>
            </label>
        <label id="2">
              <input type="checkbox" class="attribute B">
              <span>B</span>
            </label>
        <label id="3">
              <input type="checkbox" class="attribute C">
              <span>C</span>
            </label>
        <label id="4">
              <input type="checkbox" class="attribute D">
              <span>D</span>
            </label>
        <label id="5">
              <input type="checkbox" class="attribute E">
              <span>E</span>
            </label>
        <label id="6">
              <input type="checkbox" class="attribute F">
              <span>F</span>
            </label>
        <label id="7">
              <input type="checkbox" class="attribute G">
              <span>G</span>
            </label>
        <label id="8">
              <input type="checkbox" class="attribute H">
              <span>H</span>
            </label>
      </div>
      <div class="middle"> -> </div>
      <div class="right">
        <label id="1">
              <input type="checkbox" class="attribute A">
              <span>A</span>
            </label>
        <label id="2">
              <input type="checkbox" class="attribute B">
              <span>B</span>
            </label>
        <label id="3">
              <input type="checkbox" class="attribute C">
              <span>C</span>
            </label>
        <label id="4">
              <input type="checkbox" class="attribute D">
              <span>D</span>
            </label>
        <label id="5">
              <input type="checkbox" class="attribute E">
              <span>E</span>
            </label>
        <label id="6">
              <input type="checkbox" class="attribute F">
              <span>F</span>
            </label>
        <label id="7">
              <input type="checkbox" class="attribute G">
              <span>G</span>
            </label>
        <label id="8">
              <input type="checkbox" class="attribute H">
              <span>H</span>
            </label>
    </form>
    <form class="dependency" id="3">
      <div class="left">
        <label id="1">
                <input type="checkbox" class="attribute A">
                <span>A</span>
              </label>
        <label id="2">
                <input type="checkbox" class="attribute B">
                <span>B</span>
              </label>
        <label id="3">
                <input type="checkbox" class="attribute C">
                <span>C</span>
              </label>
        <label id="4">
                <input type="checkbox" class="attribute D">
                <span>D</span>
              </label>
        <label id="5">
                <input type="checkbox" class="attribute E">
                <span>E</span>
              </label>
        <label id="6">
                <input type="checkbox" class="attribute F">
                <span>F</span>
              </label>
        <label id="7">
                <input type="checkbox" class="attribute G">
                <span>G</span>
              </label>
        <label id="8">
                <input type="checkbox" class="attribute H">
                <span>H</span>
              </label>
      </div>
      <div class="middle"> -> </div>
      <div class="right">
        <label id="1">
                <input type="checkbox" class="attribute A">
                <span>A</span>
              </label>
        <label id="2">
                <input type="checkbox" class="attribute B">
                <span>B</span>
              </label>
        <label id="3">
                <input type="checkbox" class="attribute C">
                <span>C</span>
              </label>
        <label id="4">
                <input type="checkbox" class="attribute D">
                <span>D</span>
              </label>
        <label id="5">
                <input type="checkbox" class="attribute E">
                <span>E</span>
              </label>
        <label id="6">
                <input type="checkbox" class="attribute F">
                <span>F</span>
              </label>
        <label id="7">
                <input type="checkbox" class="attribute G">
                <span>G</span>
              </label>
        <label id="8">
                <input type="checkbox" class="attribute H">
                <span>H</span>
              </label>
    </form>
    <form class="dependency" id="4">
      <div class="left">
        <label id="1">
                  <input type="checkbox" class="attribute A">
                  <span>A</span>
                </label>
        <label id="2">
                  <input type="checkbox" class="attribute B">
                  <span>B</span>
                </label>
        <label id="3">
                  <input type="checkbox" class="attribute C">
                  <span>C</span>
                </label>
        <label id="4">
                  <input type="checkbox" class="attribute D">
                  <span>D</span>
                </label>
        <label id="5">
                  <input type="checkbox" class="attribute E">
                  <span>E</span>
                </label>
        <label id="6">
                  <input type="checkbox" class="attribute F">
                  <span>F</span>
                </label>
        <label id="7">
                  <input type="checkbox" class="attribute G">
                  <span>G</span>
                </label>
        <label id="8">
                  <input type="checkbox" class="attribute H">
                  <span>H</span>
                </label>
      </div>
      <div class="middle"> -> </div>
      <div class="right">
        <label id="1">
                  <input type="checkbox" class="attribute A">
                  <span>A</span>
                </label>
        <label id="2">
                  <input type="checkbox" class="attribute B">
                  <span>B</span>
                </label>
        <label id="3">
                  <input type="checkbox" class="attribute C">
                  <span>C</span>
                </label>
        <label id="4">
                  <input type="checkbox" class="attribute D">
                  <span>D</span>
                </label>
        <label id="5">
                  <input type="checkbox" class="attribute E">
                  <span>E</span>
                </label>
        <label id="6">
                  <input type="checkbox" class="attribute F">
                  <span>F</span>
                </label>
        <label id="7">
                  <input type="checkbox" class="attribute G">
                  <span>G</span>
                </label>
        <label id="8">
                  <input type="checkbox" class="attribute H">
                  <span>H</span>
                </label>
    </form>
    <form class="dependency" id="5">
      <div class="left">
        <label id="1">
                    <input type="checkbox" class="attribute A">
                    <span>A</span>
                  </label>
        <label id="2">
                    <input type="checkbox" class="attribute B">
                    <span>B</span>
                  </label>
        <label id="3">
                    <input type="checkbox" class="attribute C">
                    <span>C</span>
                  </label>
        <label id="4">
                    <input type="checkbox" class="attribute D">
                    <span>D</span>
                  </label>
        <label id="5">
                    <input type="checkbox" class="attribute E">
                    <span>E</span>
                  </label>
        <label id="6">
                    <input type="checkbox" class="attribute F">
                    <span>F</span>
                  </label>
        <label id="7">
                    <input type="checkbox" class="attribute G">
                    <span>G</span>
                  </label>
        <label id="8">
                    <input type="checkbox" class="attribute H">
                    <span>H</span>
                  </label>
      </div>
      <div class="middle"> -> </div>
      <div class="right">
        <label id="1">
                    <input type="checkbox" class="attribute A">
                    <span>A</span>
                  </label>
        <label id="2">
                    <input type="checkbox" class="attribute B">
                    <span>B</span>
                  </label>
        <label id="3">
                    <input type="checkbox" class="attribute C">
                    <span>C</span>
                  </label>
        <label id="4">
                    <input type="checkbox" class="attribute D">
                    <span>D</span>
                  </label>
        <label id="5">
                    <input type="checkbox" class="attribute E">
                    <span>E</span>
                  </label>
        <label id="6">
                    <input type="checkbox" class="attribute F">
                    <span>F</span>
                  </label>
        <label id="7">
                    <input type="checkbox" class="attribute G">
                    <span>G</span>
                  </label>
        <label id="8">
                    <input type="checkbox" class="attribute H">
                    <span>H</span>
                  </label>
    </form>
    <form class="dependency" id="6">
      <div class="left">
        <label id="1">
                      <input type="checkbox" class="attribute A">
                      <span>A</span>
                    </label>
        <label id="2">
                      <input type="checkbox" class="attribute B">
                      <span>B</span>
                    </label>
        <label id="3">
                      <input type="checkbox" class="attribute C">
                      <span>C</span>
                    </label>
        <label id="4">
                      <input type="checkbox" class="attribute D">
                      <span>D</span>
                    </label>
        <label id="5">
                      <input type="checkbox" class="attribute E">
                      <span>E</span>
                    </label>
        <label id="6">
                      <input type="checkbox" class="attribute F">
                      <span>F</span>
                    </label>
        <label id="7">
                      <input type="checkbox" class="attribute G">
                      <span>G</span>
                    </label>
        <label id="8">
                      <input type="checkbox" class="attribute H">
                      <span>H</span>
                    </label>
      </div>
      <div class="middle"> -> </div>
      <div class="right">
        <label id="1">
                      <input type="checkbox" class="attribute A">
                      <span>A</span>
                    </label>
        <label id="2">
                      <input type="checkbox" class="attribute B">
                      <span>B</span>
                    </label>
        <label id="3">
                      <input type="checkbox" class="attribute C">
                      <span>C</span>
                    </label>
        <label id="4">
                      <input type="checkbox" class="attribute D">
                      <span>D</span>
                    </label>
        <label id="5">
                      <input type="checkbox" class="attribute E">
                      <span>E</span>
                    </label>
        <label id="6">
                      <input type="checkbox" class="attribute F">
                      <span>F</span>
                    </label>
        <label id="7">
                      <input type="checkbox" class="attribute G">
                      <span>G</span>
                    </label>
        <label id="8">
                      <input type="checkbox" class="attribute H">
                      <span>H</span>
                    </label>
    </form>
    <form class="dependency" id="7">
      <div class="left">
        <label id="1">
                        <input type="checkbox" class="attribute A">
                        <span>A</span>
                      </label>
        <label id="2">
                        <input type="checkbox" class="attribute B">
                        <span>B</span>
                      </label>
        <label id="3">
                        <input type="checkbox" class="attribute C">
                        <span>C</span>
                      </label>
        <label id="4">
                        <input type="checkbox" class="attribute D">
                        <span>D</span>
                      </label>
        <label id="5">
                        <input type="checkbox" class="attribute E">
                        <span>E</span>
                      </label>
        <label id="6">
                        <input type="checkbox" class="attribute F">
                        <span>F</span>
                      </label>
        <label id="7">
                        <input type="checkbox" class="attribute G">
                        <span>G</span>
                      </label>
        <label id="8">
                        <input type="checkbox" class="attribute H">
                        <span>H</span>
                      </label>
      </div>
      <div class="middle"> -> </div>
      <div class="right">
        <label id="1">
                        <input type="checkbox" class="attribute A">
                        <span>A</span>
                      </label>
        <label id="2">
                        <input type="checkbox" class="attribute B">
                        <span>B</span>
                      </label>
        <label id="3">
                        <input type="checkbox" class="attribute C">
                        <span>C</span>
                      </label>
        <label id="4">
                        <input type="checkbox" class="attribute D">
                        <span>D</span>
                      </label>
        <label id="5">
                        <input type="checkbox" class="attribute E">
                        <span>E</span>
                      </label>
        <label id="6">
                        <input type="checkbox" class="attribute F">
                        <span>F</span>
                      </label>
        <label id="7">
                        <input type="checkbox" class="attribute G">
                        <span>G</span>
                      </label>
        <label id="8">
                        <input type="checkbox" class="attribute H">
                        <span>H</span>
                      </label>
    </form>
    <form class="dependency" id="8">
      <div class="left">
        <label id="1">
                          <input type="checkbox" class="attribute A">
                          <span>A</span>
                        </label>
        <label id="2">
                          <input type="checkbox" class="attribute B">
                          <span>B</span>
                        </label>
        <label id="3">
                          <input type="checkbox" class="attribute C">
                          <span>C</span>
                        </label>
        <label id="4">
                          <input type="checkbox" class="attribute D">
                          <span>D</span>
                        </label>
        <label id="5">
                          <input type="checkbox" class="attribute E">
                          <span>E</span>
                        </label>
        <label id="6">
                          <input type="checkbox" class="attribute F">
                          <span>F</span>
                        </label>
        <label id="7">
                          <input type="checkbox" class="attribute G">
                          <span>G</span>
                        </label>
        <label id="8">
                          <input type="checkbox" class="attribute H">
                          <span>H</span>
                        </label>
      </div>
      <div class="middle">
        ->
      </div>
      <div class="right">
        <label id="1">
                          <input type="checkbox" class="attribute A">
                          <span>A</span>
                        </label>
        <label id="2">
                          <input type="checkbox" class="attribute B">
                          <span>B</span>
                        </label>
        <label id="3">
                          <input type="checkbox" class="attribute C">
                          <span>C</span>
                        </label>
        <label id="4">
                          <input type="checkbox" class="attribute D">
                          <span>D</span>
                        </label>
        <label id="5">
                          <input type="checkbox" class="attribute E">
                          <span>E</span>
                        </label>
        <label id="6">
                          <input type="checkbox" class="attribute F">
                          <span>F</span>
                        </label>
        <label id="7">
                          <input type="checkbox" class="attribute G">
                          <span>G</span>
                        </label>
        <label id="8">
                          <input type="checkbox" class="attribute H">
                          <span>H</span>
                        </label>
    </form>

    <nav>
      <button click.delegate="removeRotate()" class="back"> <i class="fa fa-chevron-left" aria-hidden="true"></i>Back</button>
      <button click.delegate="resetInput()" class="back">Reset</button>
      <button click.delegate="evaluateDependencies()">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </nav>
    <span class="errormsg DC" style="display:none;">Don't leave dependencies empty</span>
    </div>
</template>