<template>
  <div class="content">
      <h2>Schritt 2: Abhängigkeiten</h2>
      <form action="">
        <div class="left">
          <label>
            <input type="checkbox" name="" id="">
            <span>A</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>B</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>C</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>D</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>E</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>F</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>G</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>H</span>
          </label>
        </div>
        <div class="middle"> -> </div>
        <div class="right">
          <label>
            <input type="checkbox" name="" id="">
            <span>A</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>B</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>C</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>D</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>E</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>F</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>G</span>
          </label>
          <label>
            <input type="checkbox" name="" id="">
            <span>H</span>
          </label>
        </div>
      </form>
      <form action="">
        <div class="left">
          <label>
                <input type="checkbox" name="" id="">
                <span>A</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>B</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>C</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>D</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>E</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>F</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>G</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>H</span>
              </label>
        </div>
        <div class="middle"> -> </div>
        <div class="right">
          <label>
                <input type="checkbox" name="" id="">
                <span>A</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>B</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>C</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>D</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>E</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>F</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>G</span>
              </label>
          <label>
                <input type="checkbox" name="" id="">
                <span>H</span>
              </label>
        </div>
      </form>
      <form action="">
        <div class="left">
          <label>
                    <input type="checkbox" name="" id="">
                    <span>A</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>B</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>C</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>D</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>E</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>F</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>G</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>H</span>
                  </label>
        </div>
        <div class="middle"> -> </div>
        <div class="right">
          <label>
                    <input type="checkbox" name="" id="">
                    <span>A</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>B</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>C</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>D</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>E</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>F</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>G</span>
                  </label>
          <label>
                    <input type="checkbox" name="" id="">
                    <span>H</span>
                  </label>
        </div>
      </form>
      <form action="">
        <div class="left">
          <label>
                        <input type="checkbox" name="" id="">
                        <span>A</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>B</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>C</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>D</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>E</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>F</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>G</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>H</span>
                      </label>
        </div>
        <div class="middle"> -> </div>
        <div class="right">
          <label>
                        <input type="checkbox" name="" id="">
                        <span>A</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>B</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>C</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>D</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>E</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>F</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>G</span>
                      </label>
          <label>
                        <input type="checkbox" name="" id="">
                        <span>H</span>
                      </label>
        </div>
      </form>
      <form action="">
        <div class="left">
          <label>
                            <input type="checkbox" name="" id="">
                            <span>A</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>B</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>C</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>D</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>E</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>F</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>G</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>H</span>
                          </label>
        </div>
        <div class="middle"> -> </div>
        <div class="right">
          <label>
                            <input type="checkbox" name="" id="">
                            <span>A</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>B</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>C</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>D</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>E</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>F</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>G</span>
                          </label>
          <label>
                            <input type="checkbox" name="" id="">
                            <span>H</span>
                          </label>
        </div>
      </form>
      <form action="">
        <div class="left">
          <label>
                                <input type="checkbox" name="" id="">
                                <span>A</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>B</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>C</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>D</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>E</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>F</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>G</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>H</span>
                              </label>
        </div>
        <div class="middle"> -> </div>
        <div class="right">
          <label>
                                <input type="checkbox" name="" id="">
                                <span>A</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>B</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>C</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>D</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>E</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>F</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>G</span>
                              </label>
          <label>
                                <input type="checkbox" name="" id="">
                                <span>H</span>
                              </label>
        </div>
      </form>
      <form action="">
        <div class="left">
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>A</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>B</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>C</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>D</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>E</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>F</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>G</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>H</span>
                                  </label>
        </div>
        <div class="middle"> -> </div>
        <div class="right">
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>A</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>B</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>C</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>D</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>E</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>F</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>G</span>
                                  </label>
          <label>
                                    <input type="checkbox" name="" id="">
                                    <span>H</span>
                                  </label>
        </div>
      </form>
      <form action="">
        <div class="left">
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>A</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>B</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>C</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>D</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>E</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>F</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>G</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>H</span>
                                      </label>
        </div>
        <div class="middle"> -> </div>
        <div class="right">
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>A</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>B</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>C</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>D</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>E</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>F</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>G</span>
                                      </label>
          <label>
                                        <input type="checkbox" name="" id="">
                                        <span>H</span>
                                      </label>
        </div>
      </form>
  </div>
</template>