dependencies-container {
  
  form {
    width: 100%;
    display: flex;
    justify-content: center;

    &.dependency.hide {
      display: none;
    }
  }

  .middle {
    padding: 0 25px;
  }

  label {

    color: grey;
    cursor: pointer;

    span {
      font-size: 20px;
      padding: 0 2px;
    }

    &.hidden {
      display: none;
    }

    input {
      display: none;

      &:checked+span {
        color: black;
      }

      &:not(:checked):hover + span {
        color: darkgrey;
      }
    }
  }
}

